@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

body{
    overflow-y: hidden;
}

.main{
    width: 100%;
}

.main h1{
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
}

.main canvas{
    position: relative;
    bottom: 266px;
}

.form{
    width: 100%;
    position: absolute;
    top: 91%;
}

.form_components{
    width: 60%;
    margin: auto;
}

.form_components button{
    font-size: 2rem;
    position: relative;
    top: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.chatIn{
    width: 90%;
    height: 8vh;
    padding-left: 20px;
    font-size: 1.2rem;
    color: black;
    background-color: lightblue;
    border: 0;
    border-radius: 20px;
}